.maindiv {
    width: auto;
    height: 600px;
    background-color: #F8F4EA;
    padding: 50px;
}
form {
    float: left;
    background-color: #E1D7C6;
    text-align: center;
    width: 300px;
    height: 400px;
    padding: 20px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
button {
    background-color: #579BB1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}
.info {
    float: right;
    background-color: #E1D7C6;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 20px;
}
